

.container {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 3;
}

#reset  { 
    display: flex; 
    justify-content: center; 
}

#magicNum   {
    padding: 5%;
}

#instructions  {
    font-family: 'Montserrat', sans-serif;
}