

.container {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 3;
}

#reset  { 
    display: flex; 
    justify-content: center; 
}

#magicNum   {
    padding: 1%;
}

#instructions  {
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
}

#tally    {
    padding: 1%;
}

#userTotal    {
    font-size: 40px;
    color: palevioletred;

}
